# Dipendenze (ignora node_modules in ogni sottocartella)
**/node_modules/

# Build e Output
dist/
dist-ssr/
build/
*.local

# Variabili d'ambiente e segreti
.env
.env.*
!.env.example

# File di log
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Editor (VS Code, IntelliJ)
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# File di sistema
.DS_Store
Thumbs.db