.content {
  flex: 1;               
  background-color: var(--surface);
  color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; 
}

.server {
  background-color: #292938ff;
  border-radius: 10px;
  border: 1px solid #313244;
  flex: 1;                
  width: 100%;
  height: 100%;
  box-sizing: border-box;   
  display: flex;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin: 20px 0;
}

/* Cerchi */
.circle {
  width: 100%;
  aspect-ratio: 1 / 1; 
  border-radius: 50%;
  background-color: #45475a;
  box-sizing: border-box;
}
