@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.profile {
  width: 355px;
  height: 70px;
  left: 10px;
  bottom: 10px;
  border-radius: 10px;
  position: absolute;
  background-color: #1e1e2e;;
  border: 1px solid #313244;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
   background-color: #1e1e2e;
  min-width: 320px;
  min-height: 100vh;
}
