
.sidebar {

  background-color: #1e1e2e;
  color: white;
  padding-top: 5px;
  box-sizing: border-box; 
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin: 20px 0;
}

.circle {
  width: 100%;
  aspect-ratio: 1 / 1; 
  border-radius: 50%;
  margin-bottom: 8px;
  background-color: #45475a;
  box-sizing: border-box;
   cursor: pointer;
}

.break-line{
  border: 1px solid #45475a;
  margin: 10px;
}
.circle.logo{
  width: 100%;
  aspect-ratio: 1 / 1; 
  border-radius: 50%;
  margin-bottom: 8px;
  box-sizing: border-box;
}

