.topbar {
  position: relative;
  width: 100%;          
  cursor: grab;
  height: 36px;         
  background-color: var(--background);
  color: white;
  display: flex;
  align-items: center;   
  padding: 0 20px;
  box-sizing: border-box;
}

.drag-layer {
  position: absolute;
  inset: 0;
  -webkit-app-region: drag;
  z-index: 1;
  
}

.topbar:active{
  cursor: grabbing;
}

.title {
  display: flex;
  color: #cdd6f4;
  align-items: center;
  justify-content: center;
  flex: 1; 
  font-weight: 300;
}

.title:hover{
  cursor: grab;
}