.canali{
  width: 300px;
  height: 100%;
  background-color:	#1e1e2e;
  border-radius: 10px;
}

.lista{
  margin: 0;
  padding: 10px;
}

.canale{
  padding: 16px;
  margin-bottom: 3px;
  border-radius: 9px;
  background: #181825;
}

.nome{
  padding: 13px;
  border-bottom: 1px solid #313244;
}
